[submodule "submodules/rlbox-wasm2c-sandbox"]
	path = submodules/rlbox-wasm2c-sandbox
	url = git@github.com:PLSysSec/rlbox_wasm2c_sandbox.git
[submodule "submodules/ffmpeg"]
	path = submodules/ffmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
